
<div class="form-container d-flex justify-content-center align-items-center">
  <div class="card-form">
    <%# <%= image_tag 'form-image' %>
    <h4 class='text-center'>Add an artpiece</h4>
    <%= render 'form', artpiece: @artpiece %>
  </div>
</div>
