<div class="dashboard-container text-center">
  <div class="main-container">
    <div class="rental-container">
      <h2>Your rentals</h2>

      <div class="cards-container">
        <% if @rentals.first.nil? %>
          <p>You have no rentals yet</p>
        <% else %>
          <% @rentals.each do |rental| %>
            <%= render 'rental', rental: rental %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="divider">
    </div>

    <div class="rental-container">
      <h2>Your requests</h2>

      <div class="cards-container">
        <% if @rentals_requested.first.nil? %>
          <p class='text-center'>You have no rentals requests yet</p>
        <% else %>
          <% @rentals_requested.each do |request_by_art| %>
            <% request_by_art.each do |request| %>
              <%= render 'requests', request: request %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="btn-endpage">
    <%= link_to 'Back', artpieces_path, class: 'btn-flat' %>
  </div>
</div>
