
<body>

    <div class="banner">
        <div class="container">
            <h1>Welcome to Art@Home project!</h1>
            <p>Discover art by renting famous works, directly from your home.</p>
            <%= link_to "Discover", artpieces_path, class: "btn btn-flat" %>
        </div>
    </div>

    <h2 class="title-2" style="margin-bottom: 10px;">Need inspiration ?</h2>
    <p class="subtitle" style="margin-bottom: 30px;">Browse our experts' top picks of the week</p>

    <div class="card-category2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.kazoart.com/img/_featured/501-700x525.jpg)">
      <div class="promo-overlay">
        <h2>Our artists selection</h2>
        <p>Victoria Stagni&nbsp;•&nbsp;Painter</p>
      </div>
    </div>

    <div class="footer">
        <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
