
<body>

    <div class="banner">
        <div class="container">
            <h1>Welcome to Art@Home project!</h1>
            <p>Découvrez l'art, en louant des oeuvres célèbres, directement chez vous.</p>
            <%= link_to "Découvrir", artpieces_path, class: "btn btn-flat" %>
        </div>
    </div>

    <h2 class="title-2" style="margin-bottom: 10px;">Besoin d'inspiration ?</h2>
    <p class="subtitle" style="margin-bottom: 30px;">Découvrez nos dernières sélections par nos experts du monde de l'art</p>

    <div class="card-category2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.kazoart.com/img/_featured/501-700x525.jpg)">
      <div class="promo-overlay">
        <h2>Artiste à la une</h2>
        <p>Victoria Stagni&nbsp;•&nbsp;Peintre</p>
      </div>
    </div>

    <div class="footer">
        <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
