.banner {
  background: url(	https://www.kazoart.com/img/_featured/506-1920x900.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin: auto;
  display: flex;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
    color: white;
    opacity: 0.8;
    font-size: 20px;
}

.text-center {
    text-align: center;
}
