.btn-login {
  padding: 10px 20px;
  border-radius : 30px;
  color:white;
  text-decoration: none;
  font-weight: bold;
  background-color: #77d3c7;
  margin-bottom: 30px;
}

.btn-login:hover {
  color:white;
  background-color: #9cc0bb;
}
