.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #77d3c7;
  transition: background 0.3s ease;
  border-radius: 50px;
  font-weight: bolder;
  text-decoration: none;
}

.btn-flat:hover {
  background: #9cc0bb;
  color: white;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-update {
background-color: #7892c2;
border-radius: 28px;
border: 1px solid #4e6096;
display: inline-block;
cursor: pointer;
color: #ffffff;
font-family: Arial;
font-size: 14px;
padding: 3px 11px;
text-decoration: none;
text-shadow: 0px 1px 0px #283966;
position: relative;
top: 1px;
}

.btn-update:hover {
  background-color: rgb(68, 71, 143);
  color: white;
}

.btn-cancel {
background-color: #e69171;
border-radius: 28px;
border: 1px solid #f4f4f4;
display: inline-block;
cursor: pointer;
color: #ffffff;
font-family: Arial;
font-size: 14px;
padding: 3px 11px;
text-decoration: none;
text-shadow: 0px 1px 0px #665728;
position: relative;
top: 1px;
}

.btn-cancel:hover {
  background-color:#e06436;
  color: white;
}

.btn-accept {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: rgb(6, 70, 38);
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.btn-accept:hover {
  background-color: rgb(93, 201, 93);
  color: white;
}

.btn-deny {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: rgb(80, 7, 7);
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.btn-deny:hover {
  background-color: rgb(197, 94, 94);
  color: white;
}

.btn-back {
  padding: 10px 20px;
  border-radius : 30px;
  color:white;
  background-color: #FFC100;
  text-decoration: none;
  font-weight: bolder;
}
