.card-link-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.card-link-infos p {
 font-family: 'Didact Gothic', sans-serif;
 letter-spacing: 10px;
 text-decoration: none;
}

.price {

}
